<nav class="navbar">
    <div class="container-fluid">
        <img href="#" class="navbar-brand img-fluid" style="height: 3em" src="{{ url_for('static', filename='images/thrive_icon.png') }}" alt="Thrive Icon">
        <a href="#" class="navbar-brand">THRIVE</a>
        <ul class="nav " style="flex-direction: row;">
            <li class="nav-item"><a class="nav-link" href="#">Planner</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Timer</a></li>
            <li class="nav-item"><a class="nav-link" href="#">AI</a></li>
        </ul>
    </div>
</nav>